# example 입니다. 절대 해당 파일에 직접 입력하지 말아주세요
# 복사해서 .env 파일을 생성한 뒤 사용해주세요
# 브라우저에 사용하기 위한 prefix: NEXT_PUBLIC 

NEXT_PUBLIC_DEPLOY_ENV=dev
NEXT_PUBLIC_REDIRECT_URI=
NEXT_PUBLIC_SITE_URL=https://www.cocos-pet.kr

#kakao
NEXT_PUBLIC_KAKAO_API_KEY=
NEXT_PUBLIC_KAKAO_MAP_API_KEY=

#sentry 
NEXT_PUBLIC_SENTRY_DSN=
# 오직 Server에서 사용
SENTRY_AUTH_TOKEN=
CI=false